/.idea/*
/.run/
/.gradle/
/projects/cleanroom/
/projects/mcp/
/projects/minecraft/
/buildSrc/.gradle/
/buildSrc/build/
/logs/
version.txt
src/main/java/com/cleanroommc/common/CleanroomVersion.java
build/

# whitelist
!/.idea/icon.svg